<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dynamic-template1</title>
</head>
<body>
    Name : {{.Fname}} {{.Mname}}.{{.Lname}}<br/>
    Age : {{.Age}}
 </ul>
</body>
</html>